.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #ffffff;
    /* background-color: #003030; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
  }

  .navbar {
    margin: 0;
  }
  .custom-navbar {
    background-color: #75EB1B;
  }
 
  .home {
    margin: auto;
    margin-top: 60px;

  }
  .home-title {
    position: relative;
    width: 100%;
    max-width: 900px; 
    margin: auto;
  }
  .home-photo {
    width: 100%;
    height: auto;
    display: block;
  }
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #75EB1B; 
    /* color: #ffffff; */
    opacity: 83%;
  }
  .title {
    font-size: 12vw;
    font-weight: bold;
  }
  .resume-obj {
    color:#000000;
    /* color: #75EB1B;  */
    margin: 5%;
    margin-right: 20%;
    margin-left: 20%;
    /* background-color: #003030; */
  }

  .coding-page {
    /* margin-top: 60px; */
    margin-right: 20%;
    margin-left: 20%;
    width: 70%;
  }
  .project-accordion {
    margin: 5%;
    margin-right: 15%;
    margin-left: 15%;
  }
  /* OVERRIDE ACCORDION CSS */
  .custom-accordion {
  background-color: #ffffff; 
  }

  .custom-accordion .accordion-button {
    color: #000000; 
    background-color: #ffffff; 
    border: 5px solid; 
  }

  .custom-accordion .accordion-button:hover {
    background-color: #C7EBAB; 
  }

  .custom-accordion .accordion-button:not(.collapsed) {
    background-color: #C7EBAB; 
  }

  .custom-accordion .accordion-collapse {
    background-color: #ffffff; 
    border: 5px solid; 
    border-top: 0;
  }
  /* OVVERRIDE ACCORDION CSS */
  .skill-list {
    display: flex;
    justify-content: center;
    margin-top: 0; 
    margin-bottom: 0; 
  }